<div class="login-container">
    <div class="usuarios-rapidos">
      <div class="usuarios">
        <button
          *ngFor="let usuario of usuariosRapidos"
          class="usuario-boton"
          (click)="rellenarUsuario(usuario)">
          <img [src]="usuario.imagen" alt="{{ usuario.nombre }}" class="usuario-imagen" />
          <span>{{ usuario.nombre }}</span>
        </button>
      </div>
    </div>
  
    <div class="login-form">
      <h2>Iniciar Sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="correo">Correo</label>
          <input
            id="correo"
            formControlName="correo"
            type="email"
            class="form-input"
            placeholder="Correo electrónico"
          />
        </div>
        <div class="form-group">
          <label for="contrasena">Contraseña</label>
          <input
            id="contrasena"
            formControlName="contrasena"
            type="password"
            class="form-input"
            placeholder="Contraseña"
          />
        </div>
        <button type="submit" class="submit-button">Ingresar</button>
        <div class="d-flex justify-content-center mt-4">
          <button (click)="bienvenida()" class="btn btn-primary btn-lg px-5 mb-4" style="background-color:brown; color: white;">ATRÁS</button>
        </div>
        
      </form>
      <div *ngIf="msjError!=''">
        <strong><label  style="color: red;" class="form-label">
            {{msjError}}
          </label></strong>
        </div>  
    </div>
  </div>
  