.fondo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ffd700, #e48080);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .fondotabla{
    background-color: white;
  }