<section [@fadeInUp] class="fondo"> 
  <div class="container">
    <!-- Botones de acción -->
    <div class="button-container mb-4">
      <button class="action-button" (click)="navigateTo('paciente')">AGREGAR PACIENTE</button>
      <button class="action-button" (click)="navigateTo('especialista')">AGREGAR ESPECIALISTA</button>
      <button class="action-button" (click)="navigateTo('admin')">AGREGAR ADMIN</button>
        <button pasaPorArriba = "Descarga datos de TODOS los usuarios" class="descargaGral " (click)="exportarUsuariosExcel()">DESCARGAR EXCEL GRAL</button>
    </div>

    <!-- Listado de Pacientes -->
    <h3 class="text-center mt-5"><strong>PACIENTES</strong></h3>
    <div class="row text-center">
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4" *ngFor="let paciente of pacientes">
        <button pasaPorArriba = "Click en imagen para descargar turnos del paciente" (click)="descargarTurnosPaciente(paciente)" class="btn-usuario" style="border: none;">
          <img
            [src]="paciente.urlFotoPerfil"
            class="rounded-circle img-fluid"
            alt="Foto del paciente"
          />
          <p class="mt-2">{{ paciente.nombre }} {{ paciente.apellido }}</p>
        </button>
        <button (click)="verHistoria(paciente)" class="x">Historia</button>
      </div>
    </div>

    <!-- Listado de Especialistas -->
    <h3 class="text-center mt-5"><strong>ESPECIALISTAS</strong></h3>
    <div class="row text-center">
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4" *ngFor="let especialista of especialistas">
        <button class="btn-usuario" style="border: none;">
          <img
          [src]="especialista.urlFotoPerfil"
          class="rounded-circle img-fluid"
          alt="Foto del especialista"
          [borde]="especialista.habilitado"
          appPintarBorde
          (click)="toggleHabilitado(especialista)"
        />
          <p class="mt-2">{{ especialista.nombre }} {{ especialista.apellido }}</p>
        </button>
      </div>
    </div>
    

    <!-- Listado de Administradores -->
    <h3 class="text-center mt-5"><strong>ADMINISTRADORES</strong></h3>
    <div class="row text-center">
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4" *ngFor="let administrador of administradores">
        <button class="btn-usuario" style="border: none;">
          <img
            [src]="administrador.urlFotoPerfil"
            class="rounded-circle img-fluid"
            alt="Foto del administrador"
          />
          <p class="mt-2">{{ administrador.nombre }} {{ administrador.apellido }}</p>
        </button>
      </div>
    </div>
  </div>
</section>
