.fondo {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #ffde59, #ff6b6b);
  }
  
  .container {
    text-align: center;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }
  
  .action-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #343a40;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .action-button:hover {
    background-color: fuchsia;
    color : black;
    transform: scale(1.1);
  }
  
  .action-button:active {
    transform: scale(1);
  }
  .fondo {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(45deg, #ffde59, #ff6b6b);
  }
  
  .container {
    text-align: center;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 15px;
  }
  
  h3 {
    color: #343a40;
    margin-bottom: 20px;
  }
  
  .fondo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ffd700, #e48080);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .habilitado {
    border: 8px solid #28a745;
  }
  
  .deshabilitado {
    border: 8px solid #dc3545;
  }
  
  
  .badge {
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
  }
  .btn-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }
  
  .btn-usuario img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .btn-usuario p {
    margin-top: 8px;
    font-weight: bold;
    color: #333;
  }
  
  .border-success {
    border-color: #28a745 !important;
  }
  
  .border-danger {
    border-color: #dc3545 !important;
  }
  