<body class="fondo">
  <main>
    <div class="container py-4">
      <div class="p-3 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-2">
          <h1 class="text-center border-bottom">¡Bienvenido a Nuestra Clínica!</h1>
          <p class="text-center mt-3 p-header">
            Nosotros somos salud. En esta clínica podemos garantizarte todo aquello que sea lo mejor para vos.
            Empezando desde la gestión del paciente, hasta la confortabilidad del trabajo del especialista.
            En nuestra clínica vas a sentirte como en casa.
          </p>
        </div>
      </div>

      <!-- Sección de botones -->
      <div class="d-flex flex-column align-items-center">
        <!-- Imagen Pacientes -->
        <div class="p-3 bg-body-tertiary border rounded-3 mb-4 botones">
          <button type="button" data-bs-toggle="modal" data-bs-target="#pacienteModal" class="btn-img">
            <img src="../../../assets/registroPacientes.jpeg" alt="Imagen pacientes" class="img-fluid imgPaciente">
          </button>
        </div>

        <!-- Imagen Especialistas -->
        <div class="p-3 bg-body-tertiary border rounded-3 botones">
          <button type="button" data-bs-toggle="modal" data-bs-target="#especialistaModal" class="btn-img">
            <img src="../../../assets/registroEspecialistas.jpeg" alt="Imagen especialista" class="img-fluid imgEquipoMedico">
          </button>
        </div>
      </div>
        <div class="modal fade" id="pacienteModal" tabindex="-1" aria-labelledby="pacienteModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="pacienteModalLabel">Pacientes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Bienvenido paciente!! <br>
                ¿Qué desea hacer?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="goTo('registroPaciente')" data-bs-dismiss="modal">Registrarse</button>
                <button type="button" class="btn btn-primary" (click)="goTo('login')" data-bs-dismiss="modal">Iniciar Sesión</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal Especialistas -->
        <div class="modal fade" id="especialistaModal" tabindex="-1" aria-labelledby="especialistaModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="especialistaModalLabel">Especialistas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Bienvenido especialista!! <br>
                ¿Qué desea hacer?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="goTo('registroEspecialista')" data-bs-dismiss="modal">Registrarse</button>
                <button type="button" class="btn btn-primary" (click)="goTo('login')" data-bs-dismiss="modal">Iniciar Sesión</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </main>
</body>
