<body class="fondo">
  <main>
    <div class="container py-4">
      <div class="p-3 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-2">
          <h1 class="text-center border-bottom">¡Bienvenido a Nuestra Clínica!</h1>
          <p class="text-center mt-3 p-header">
            Nosotros somos salud. En esta clínica podemos garantizarte todo aquello que sea lo mejor para vos.
            Empezando desde la gestión del paciente, hasta la confortabilidad del trabajo del especialista.
            En nuestra clínica vas a sentirte como en casa.
          </p>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <div class="p-3 bg-body-tertiary border rounded-3 mb-4 botones">
          <img src="../../../assets/registroPacientes.jpeg" alt="Imagen pacientes" class="img-fluid imgPaciente">
        </div>
        <div class="p-3 bg-body-tertiary border rounded-3 botones">
          <img src="../../../assets/registroEspecialistas.jpeg" alt="Imagen especialista" class="img-fluid imgEquipoMedico">
        </div>
      </div>
    </div>
  </main>
</body>
