.estadisticas-container {
    text-align: center;
    margin-top: 50px;
  }

  button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .fondo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ffd700, #e48080);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #tortaEspecialidadChart {
    width: 800px;
    height: 800px;
  }
  .section {
    margin-bottom: 40px; /* Espacio entre secciones */
}

.section canvas {
    margin-bottom: 20px; /* Espacio entre el gráfico y el botón */
}

.action-button {
    margin-top: 20px; /* Espacio adicional si es necesario */
}

  canvas {
    margin: auto;
    display: block;
    width: 100%; /* Ocupa el ancho completo del contenedor */
    max-width: 800px; /* Permite un ancho máximo */
    height: auto; /* Ajusta la altura proporcionalmente */
  }
  #barrasDiaChart {
    width: 800px;
    height: 500px; /* Ajusta según el diseño deseado */
    margin: auto;
  }
  .estadisticas-container {
    text-align: center;
    width: 100%;
    padding: 20px;
  }
    
  .action-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #343a40;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .action-button:hover {
    background-color: fuchsia;
    color : black;
    transform: scale(1.1);
  }
  canvas {
    margin: 20px auto;
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto; /* Ajusta la altura proporcionalmente */
    background-color: white; /* Fondo blanco para asegurar visibilidad */
    border: 1px solid #ccc; /* Para identificar su contenedor */
  }
  .col-6.d-flex {
    width: 100%; /* Ajusta el ancho */
    max-width: 800px;
    height: auto; /* Asegura proporciones adecuadas */
    justify-content: center;
  }
  
  .chart {
    max-width: 600px;
    margin: auto;
    padding: 10px;
  }
  
