<section class="fondo">
    <div class="container mt-4 mb-4">
      <h2 class="text-center">Lista de Pacientes</h2>
  
      <ul class="list-group mt-4">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let paciente of pacientes"
        >
          <span>{{ paciente.nombre }} {{ paciente.apellido }}</span>
          <button class="btn btn-primary btn-sm" (click)="seleccionarPaciente(paciente)">
            Seleccionar
          </button>
        </li>
      </ul>
    </div>
  </section>
  