<section class="fondo">
  <div class="container">
    <h2 class="text-center mt-4">Mis Turnos</h2>

    <div class="row d-flex justify-content-center align-items-center row-input mb-2">
      <input
        type="text"
        placeholder="Buscar especialista o especialidad"
        [(ngModel)]="BuscarEspecialistaEspecialidad"
        id="input-buscar-esp"
        class="mb-2"
      />
    </div>

    <!-- Tabla de turnos -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Especialista</th>
          <th>Especialidad</th>
          <th>Fecha</th>
          <th>Horario</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos | buscarEspecialistaEspecialidad: BuscarEspecialistaEspecialidad">
          <td>{{ turno.especialista.nombre }} {{ turno.especialista.apellido }}</td>
          <td>{{ turno.especialidad }}</td>
          <td>{{ turno.fecha }}</td>
          <td>{{ turno.desde }} - {{ turno.hasta }}</td>
          <td [EstadoTurnoColor]="turno.estado">{{ turno.estado | titlecase }}</td>
          <td>
            <!-- Cancelar Turno -->
            <button
              *ngIf="turno.estado === 'pendiente'"
              class="btn btn-danger btn-sm"
              (click)="cancelarTurno(turno)"
            >
              Cancelar
            </button>

            <!-- Calificar Atención -->
            <button
              *ngIf="turno.estado === 'Realizado'"
              class="btn btn-primary btn-sm"
              (click)="completarEncuesta  (turno)"
            >
              Calificar
            </button>

            <!-- Completar Encuesta -->
            <button
              *ngIf="turno.estado === 'Realizado' && turno.comentario"
              class="btn btn-success btn-sm mx-1"
              (click)="completarEncuesta(turno)"
            >
              Completar Encuesta
            </button>

            <!-- Ver Reseña -->
            <button 
              *ngIf="turno.comentario && (turno.estado === 'Realizado' || turno.estado === 'Cancelado' || turno.estado === 'Rechazado')"
              class="btn btn-info btn-sm"
              (click)="verResenia(turno)"
            >
              Ver Reseña
            </button>
          </td>
        </tr>
        <tr *ngIf="aplicarFiltros().length === 0">
          <td colspan="6" class="text-center">No se encontraron turnos.</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
