.fondo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ffd700, #e48080);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .home-container {
    font-family: Arial, sans-serif;
  }
  
  .bg-overlay {
    background: url("../../../assets/sobreNosotros.jpeg") no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    position: relative;
  }
  
  .bg-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .jumbotron .container {
    position: relative;
    z-index: 2;
  }
  
  #services .card {
    transition: transform 0.3s;
  }
  
  #services .card:hover {
    transform: scale(1.05);
  }
  
  .bg-light {
    background-color: rgb(190, 190, 190) !important;
  }
  
  #contact {
    background: linear-gradient(45deg, #ffd700, #e48080);
  }
  