<section class="vh-100 gradient-custom">
    <div class="container">
      <div class="form-container">
        <div class="card">
          <div class="card-body">
            <h2 class="title">Registro de Especialista</h2>
            <p class="subtitle">Por favor ingrese los datos requeridos</p>
  
            <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
              <!-- Campo Nombre -->
              <div class="form-group">
                <input formControlName="nombre" type="text" class="form-input" />
                <label class="form-label">Nombre</label>
              </div>
  
              <!-- Campo Apellido -->
              <div class="form-group">
                <input formControlName="apellido" type="text" class="form-input" />
                <label class="form-label">Apellido</label>
              </div>
  
              <!-- Campo Edad -->
              <div class="form-group">
                <input formControlName="edad" type="number" class="form-input" />
                <label class="form-label">Edad</label>
              </div>
  
              <!-- Campo DNI -->
              <div class="form-group">
                <input formControlName="dni" type="text" class="form-input" />
                <label class="form-label">DNI</label>
              </div>
  
              <!-- Campo Especialidad -->
              <div class="form-group">
                <select formControlName="especialidad" class="form-input">
                  <option value="" disabled selected>Seleccione una especialidad</option>
                  <option *ngFor="let especialidad of especialidades" [value]="especialidad">
                    {{ especialidad }}
                  </option>
                </select>
              </div>
  
              <!-- Nueva Especialidad -->
              <div class="form-group">
                <input formControlName="nuevaEspecialidad" type="text" class="form-input" placeholder="Agregar nueva especialidad" />
                <button type="button" (click)="agregarEspecialidad()">Agregar</button>
              </div>
  
              <!-- Campo Correo -->
              <div class="form-group">
                <input formControlName="correo" type="email" class="form-input" />
                <label class="form-label">Correo</label>
              </div>
  
              <!-- Campo Contraseña -->
              <div class="form-group">
                <input formControlName="contrasena" type="password" class="form-input" />
                <label class="form-label">Contraseña</label>
              </div>

              <!-- Botón Enviar -->
              <div class="button-container">
                <button type="submit" class="submit-button">Registrar Especialista</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  