<div class="historia-clinica-container">
  <h3>Historia Clínica</h3>
  <table class="table table-bordered table-custom a">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Altura</th>
        <th>Peso</th>
        <th>Presión</th>
        <th>Temperatura</th>
        <th>Dato 1</th>
        <th>Dato 2</th>
        <th>Dato 3</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!paciente?.historiaClinica?.length">
        <td colspan="5" class="text-center">No hay registros de historia clínica</td>
      </tr>
      <tr *ngFor="let historia of paciente?.historiaClinica || []">
        <td>{{ historia.fecha | date: 'shortDate' }}</td>
        <td>{{ historia.altura }}</td>
        <td>{{ historia.peso }}</td>
        <td>{{ historia.presion }}</td>
        <td>{{ historia.temperatura }}</td>
      </tr>
    </tbody>
  </table>
</div>
